body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#9c27b0,#31d5eb);
}
.container{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#password{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}